.body {
	overflow-x: hidden;
}

#4_170 { 
	overflow:hidden;
}


.buttons {
	text-decoration: none;
	color: dodgerblue;
}

.buttons1 {
	text-decoration: none;
	color: ghostwhite;
}

#e4_170 { 
	background-color:rgba(255, 255, 255, 1);
	width:1680px;
	height:2471px;
	position:absolute;
}
#e4_171 { 
	background-color:rgba(0, 0, 0, 0.800000011920929);
	width:1680px;
	height:264px;
	position:absolute;
	left:0px;
	top:2207px;
}
#e4_172 { 
	color:rgba(255, 255, 255, 1);
	width:173px;
	height:24px;
	position:absolute;
	left:593px;
	top:120px;
	font-family:Montserrat;
	text-align:left;
	font-size:15px;
	letter-spacing:-1.5;
	line-height:px;
}
#e4_173 { 
	color:rgba(255, 255, 255, 0.800000011920929);
	width:363px;
	height:24px;
	position:absolute;
	left:1237px;
	top:120px;
	font-family:Montserrat;
	text-align:right;
	font-size:15px;
	letter-spacing:-1.5;
	line-height:px;
}
#e4_174 { 
	color:rgba(255, 255, 255, 1);
	width:173px;
	height:24px;
	position:absolute;
	left:786px;
	top:120px;
	font-family:Montserrat;
	text-align:left;
	font-size:15px;
	letter-spacing:-1.5;
	line-height:px;
}
#e4_175 { 
	color:rgba(255, 255, 255, 1);
	width:173px;
	height:24px;
	position:absolute;
	left:977px;
	top:120px;
	font-family:Montserrat;
	text-align:left;
	font-size:15px;
	letter-spacing:-1.5;
	line-height:px;
}
#e103_95 { 
	color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:220px;
	height:32px;
	position:absolute;
	left:80px;
	top:120px;
	font-family:Cinzel Decorative;
	text-align:center;
	font-size:36px;
	letter-spacing:-1.5;
}
#e4_177 { 
	background-color:rgba(255, 255, 255, 1);
	width:1680px;
	height:1151px;
	position:absolute;
	left:0px;
	top:1056px;
}
#e4_178 { 
	color:rgba(0, 0, 0, 1);
	width:450px;
	height:72px;
	position:absolute;
	left:84px;
	top:98px;
	font-family:Montserrat;
	text-align:left;
	font-size:48px;
	letter-spacing:-1.5;
	line-height:px;
}
#e4_179 { 
	color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 0.800000011920929);
	width:114px;
	height:45px;
	position:absolute;
	left:1434px;
	top:112px;
	font-family:Montserrat;
	text-align:center;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}

#e4_180 { 
	width:20px;
	height:0px;
	position:absolute;
	left:1544px;
	top:134px;
}
#e4_181 { 
	width:814px;
	height:812px;
	position:absolute;
	left:96px;
	top:240px;
}
#e4_182 { 
	background-color:rgba(255, 255, 255, 1);
	width:814px;
	height:812px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

#e202_19 { 
	width:813px;
	height:495px;
	position:absolute;
	left:1px;
	top:0px;
	background-image:url(images/gta_v_art_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e4_184 { 
	color:rgba(0, 0, 0, 1);
	width:250px;
	height:45px;
	position:absolute;
	left:76px;
	top:539px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
#e4_185 { 
	color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:130px;
	height:45px;
	position:absolute;
	left:609px;
	top:539px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:-1.5;
	line-height:px;
}
#e4_186 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:662.1166381835938px;
	height:74.38167572021484px;
	position:absolute;
	left:75.9417724609375px;
	top:658.2778930664062px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:-1.5;
	line-height:px;
}
#e4_187 { 
	color:rgba(109.00000110268593, 228.0000016093254, 234.00000125169754, 1);
	width:56.956268310546875px;
	height:37.19083786010742px;
	position:absolute;
	left:76px;
	top:572px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:-1.5;
	line-height:px;
}
#e4_188 { 
	color:rgba(0, 0, 0, 0.5);
	width:115px;
	height:37px;
	position:absolute;
	left:156px;
	top:572px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:-1.5;
	line-height:px;
}
#e4_189 { 
	width:563px;
	height:374px;
	position:absolute;
	left:985px;
	top:240px;
}
#e4_190 { 
	background-color:rgba(255, 255, 255, 1);
	width:563px;
	height:374px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

#e103_73 { 
	width:563px;
	height:206px;
	position:absolute;
	left:0px;
	top:0px;
}

#ei103_73_103_32 { 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:563px;
	height:206px;
	position:absolute;
	left:0px;
	top:0px;
}
#i103_73_103_32 { 
	border:1px solid rgba(0, 0, 0, 1);
}
#e4_192 { 
	color:rgba(0, 0, 0, 1);
	width:254px;
	height:21px;
	position:absolute;
	left:53px;
	top:231px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:-1.5;
	line-height:px;
}
#e4_193 { 
	color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:74px;
	height:21px;
	position:absolute;
	left:438px;
	top:231px;
	font-family:Montserrat;
	text-align:left;
	font-size:12px;
	letter-spacing:-1.5;
	line-height:px;
}
#e4_194 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:457.9504089355469px;
	height:34.25954055786133px;
	position:absolute;
	left:53.4752197265625px;
	top:301.618408203125px;
	font-family:Montserrat;
	text-align:left;
	font-size:17px;
	letter-spacing:-1.5;
	line-height:20px;
}
#e4_195 { 
	color:rgba(109.00000110268593, 228.0000016093254, 234.00000125169754, 1);
	width:45px;
	height:17px;
	position:absolute;
	left:53.4752197265625px;
	top:264.618408203125px;
	font-family:Montserrat;
	text-align:left;
	font-size:12px;
	letter-spacing:-1.5;
	line-height:px;
}
#e4_196 { 
	color:rgba(0, 0, 0, 0.5);
	width:84px;
	height:17px;
	position:absolute;
	left:116px;
	top:265px;
	font-family:Montserrat;
	text-align:left;
	font-size:12px;
	letter-spacing:-1.5;
	line-height:px;
}
#e4_197 { 
	width:563px;
	height:374px;
	position:absolute;
	left:985px;
	top:678px;
}
#e4_198 { 
	background-color:rgba(255, 255, 255, 1);
	width:563px;
	height:374px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

#e103_75 { 
	width:563px;
	height:206px;
	position:absolute;
	left:0px;
	top:0px;
}

#ei103_75_103_32 { 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:563px;
	height:206px;
	position:absolute;
	left:0px;
	top:0px;
}
#i103_75_103_32 { 
	border:1px solid rgba(0, 0, 0, 1);
}
#e4_200 { 
	color:rgba(0, 0, 0, 1);
	width:128.849853515625px;
	height:20.55572509765625px;
	position:absolute;
	left:53px;
	top:231px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:-1.5;
	line-height:px;
}
#e4_201 { 
	color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:84px;
	height:21px;
	position:absolute;
	left:428px;
	top:231px;
	font-family:Montserrat;
	text-align:left;
	font-size:12px;
	letter-spacing:-1.5;
	line-height:px;
}
#e4_202 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:457.9504089355469px;
	height:34.25954055786133px;
	position:absolute;
	left:53.4752197265625px;
	top:301.618408203125px;
	font-family:Montserrat;
	text-align:left;
	font-size:17px;
	letter-spacing:-1.5;
	line-height:px;
}
#e4_203 { 
	color:rgba(109.00000110268593, 228.0000016093254, 234.00000125169754, 1);
	width:45px;
	height:17px;
	position:absolute;
	left:53.4752197265625px;
	top:264.618408203125px;
	font-family:Montserrat;
	text-align:left;
	font-size:12px;
	letter-spacing:-1.5;
	line-height:px;
}
#e4_204 { 
	color:rgba(0, 0, 0, 0.5);
	width:84px;
	height:17px;
	position:absolute;
	left:116px;
	top:265px;
	font-family:Montserrat;
	text-align:left;
	font-size:12px;
	letter-spacing:-1.5;
	line-height:px;
}
#e4_227 { 
	color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:44px;
	height:18px;
	position:absolute;
	left:656px;
	top:-1025px;
	font-family:Montserrat;
	text-align:center;
	font-size:15px;
	letter-spacing:-1.5;
}
#e202_22 { 
	width:563px;
	height:206px;
	position:absolute;
	left:985px;
	top:240px;
	background-image:url(images/screenshot_1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e202_21 { 
	width:563px;
	height:206px;
	position:absolute;
	left:985px;
	top:678px;
	background-image:url(images/screenshot_3_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e4_205 { 
	background-color:rgba(255, 255, 255, 1);
	width:1680px;
	height:996px;
	position:absolute;
	left:0px;
	top:60px;
}
#e4_206 { 
	color:rgba(0, 0, 0, 1);
	width:368px;
	height:72px;
	position:absolute;
	left:88px;
	top:98px;
	font-family:Montserrat;
	text-align:center;
	font-size:48px;
	letter-spacing:-1.5;
	line-height:px;
}
#e4_207 { 
	color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 0.800000011920929);
	width:125px;
	height:45px;
	position:absolute;
	left:1423px;
	top:112px;
	font-family:Montserrat;
	text-align:center;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}

#e4_208 { 
	width:20px;
	height:0px;
	position:absolute;
	left:1544px;
	top:134px;
}
#e4_209 { 
	width:686px;
	height:655px;
	position:absolute;
	left:112px;
	top:240px;
}
#e4_210 { 
	background-color:rgba(255, 255, 255, 1);
	width:686px;
	height:655px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

#e4_212 { 
	color:rgba(0, 0, 0, 1);
	width:103px;
	height:36px;
	position:absolute;
	left:64px;
	top:435px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
#e4_213 { 
	color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:106px;
	height:36px;
	position:absolute;
	left:540px;
	top:429px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:-1.5;
	line-height:px;
}
#e4_214 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:558px;
	height:60px;
	position:absolute;
	left:64.00006103515625px;
	top:531px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:-1.5;
	line-height:px;
}
#e4_215 { 
	color:rgba(109.00000110268593, 228.0000016093254, 234.00000125169754, 1);
	width:48px;
	height:30px;
	position:absolute;
	left:64px;
	top:471px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:-1.5;
	line-height:px;
}
#e4_216 { 
	color:rgba(0, 0, 0, 0.5);
	width:69px;
	height:30px;
	position:absolute;
	left:131px;
	top:471px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:-1.5;
	line-height:px;
}
#e202_20 { 
	width:686px;
	height:400px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/lak_key_ka_horiz_5100x3000_118_f1_final_ag_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e4_217 { 
	width:686px;
	height:655px;
	position:absolute;
	left:882px;
	top:240px;
}
#e4_218 { 
	background-color:rgba(255, 255, 255, 1);
	width:686px;
	height:655px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

#e103_69 { 
	width:686px;
	height:400px;
	position:absolute;
	left:0px;
	top:0px;
}

#ei103_69_103_32 { 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:686px;
	height:400px;
	position:absolute;
	left:0px;
	top:0px;
}
#i103_69_103_32 { 
	border:1px solid rgba(0, 0, 0, 1);
}
#e4_220 { 
	color:rgba(0, 0, 0, 1);
	width:335px;
	height:36px;
	position:absolute;
	left:64px;
	top:435px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
#e4_221 { 
	color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:106px;
	height:36px;
	position:absolute;
	left:541px;
	top:435px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:-1.5;
	line-height:px;
}
#e4_222 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:558px;
	height:60px;
	position:absolute;
	left:64px;
	top:510px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:-1.5;
	line-height:px;
}
#e4_223 { 
	color:rgba(109.00000110268593, 228.0000016093254, 234.00000125169754, 1);
	width:48px;
	height:30px;
	position:absolute;
	left:64px;
	top:471px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:-1.5;
	line-height:px;
}
#e4_224 { 
	color:rgba(0, 0, 0, 0.5);
	width:88px;
	height:30px;
	position:absolute;
	left:131px;
	top:471px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:-1.5;
	line-height:px;
}
#e202_23 { 
	width:686px;
	height:400px;
	position:absolute;
	left:882px;
	top:240px;
	background-image:url(images/2a10a6270a06f130fcbc44f63414030c_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e4_225 { 
	background-color:rgba(255, 255, 255, 1);
	width:1680px;
	height:60px;
	position:absolute;
	left:0px;
	top:10px;
}
#e103_84 { 
	color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:223px;
	height:32px;
	position:absolute;
	left:76px;
	top:14px;
	font-family:Cinzel Decorative;
	text-align:center;
	font-size:36px;
	letter-spacing:-1.5;
}
#e4_228 { 
	color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:64px;
	height:18px;
	position:absolute;
	left:745px;
	top:21px;
	font-family:Montserrat;
	text-align:center;
	font-size:15px;
	letter-spacing:-1.5;
}
#e4_229 { 
	color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:89px;
	height:18px;
	position:absolute;
	left:844px;
	top:21px;
	font-family:Montserrat;
	text-align:center;
	font-size:15px;
	letter-spacing:-1.5;
}
#e4_230 { 
	color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:90px;
	height:18px;
	position:absolute;
	left:958px;
	top:21px;
	font-family:Montserrat;
	text-align:center;
	font-size:15px;
	letter-spacing:-1.5;
}
#e4_231 { 
	background-color:rgba(255, 255, 255, 1);
	width:233px;
	height:40px;
	position:absolute;
	left:1367px;
	top:10px;
}

#e4_232 { 
	width:130px;
	height:40px;
	position:absolute;
	left:1237px;
	top:10px;
}
#ei4_232_3_34 { 
	background-color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:77px;
	height:40px;
	position:absolute;
	left:53px;
	top:0px;
}

#ei4_232_3_35 { 
	color:rgba(255, 255, 255, 1);
	width:49px;
	height:18px;
	position:absolute;
	left:67px;
	top:11px;
	font-family:Montserrat;
	text-align:center;
	font-size:15px;
	letter-spacing:-1.5;
}
#e4_233 { 
	width:1536px;
	height:0px;
	position:absolute;
	left:69px;
	top:80px;
}

#e4_234 { 
	width:90px;
	height:0px;
	position:absolute;
	left:795px;
	top:1088px;
}
